.eventButton {
  /* background-color: red; */
  margin: 30px;
}
.eventButton > button {
  padding: 8px 26px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #8037fa,
    #9047f9,
    #9e56f8,
    #aa65f8,
    #b573f7
  );
}
